<a href="https://colab.research.google.com/github/apogace/Data612-HW7/blob/main/Anastas_Pogace_Data_612_HW7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 7

## Purpose          
This assignment is intended to help you do the following:      
  - Groupby operations to aggregate, transform, and filter data      
  - Built-in and custom user functions to perform groupby operations

## About the assignment

In the industry, analytics professionals often explore data's measure variables grouped by one or multiple dimension variables. For example, the metrics of interest could be the average, max, min, or percentage (mix) of sales by month, location, etc.

The followings are the sample code snippet using the custom user functions together with `groupby()` and `apply()` in another way:

In [ ]:
import pandas as pd

# the mpg data is used for demonstration
df = pd.read_csv("https://raw.githubusercontent.com/franklin-univ-data-science/data/master/mpg.csv")
df.head()

    mpg  cylinders  displacement  acceleration  model  origin
0  18.0          8         307.0          12.0     70       1
1  15.0          8         350.0          11.5     70       1
2  18.0          8         318.0          11.0     70       1
3  16.0          8         304.0          12.0     70       1
4  17.0          8         302.0          10.5     70       1

In [ ]:
def summarize_data(g):
  return(
    pd.Series({
      "avg_MPG": g.mpg.mean(),
      "min_MPG": g.mpg.min(),
      "max_MPG": g.mpg.max(),
      "sample_count": len(g),
      "mix": g.cylinders.sum()/df.cylinders.sum(),
    })
  )

df.groupby("cylinders").apply(summarize_data)

             avg_MPG  min_MPG  max_MPG  sample_count       mix
cylinders
3          20.550000     18.0     23.7           4.0  0.005398
4          29.286765     18.0     46.6         207.0  0.372470
5          27.366667     20.3     36.4           3.0  0.006748
6          19.985714     15.0     38.0          84.0  0.226721
8          14.963107      9.0     26.6         108.0  0.388664

## Tasks   
  1. Read the `summarize_data()` and explain the difference between g and df.

  2. Select the measure and dimention variables from your dataframe, apply the `summarize_data()` and modify as needed based on your preferences.    

  3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

  4. Post your version of the above code on your GitHub account. Do not forget a README file with explanations.

***Anastas Pogace ***

>

1. Read the summarize_data() and explain the difference between g and df.

In the summarize_data() function, the g variable is the input or  values  we assign. We tell the function what the g inputs are, and then it can perform whatever process to the inputs, or g value. The df variable is what we called our data frame that holds all the information we use to do our statistical analyses.

2. Select the measure and dimention variables from your dataframe, apply the summarize_data() and modify as needed based on your preferences.

In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Batting.csv')
df

         playerID  yearID  stint teamID lgID  ...  IBB  HBP   SH   SF  GIDP
0       abercda01    1871      1    TRO  NaN  ...  NaN  NaN  NaN  NaN   0.0
1        addybo01    1871      1    RC1  NaN  ...  NaN  NaN  NaN  NaN   0.0
2       allisar01    1871      1    CL1  NaN  ...  NaN  NaN  NaN  NaN   1.0
3       allisdo01    1871      1    WS3  NaN  ...  NaN  NaN  NaN  NaN   0.0
4       ansonca01    1871      1    RC1  NaN  ...  NaN  NaN  NaN  NaN   0.0
...           ...     ...    ...    ...  ...  ...  ...  ...  ...  ...   ...
107424  zimmejo02    2019      1    DET   AL  ...  0.0  0.0  0.0  0.0   0.0
107425  zimmeky01    2019      1    KCA   AL  ...  0.0  0.0  0.0  0.0   0.0
107426  zimmery01    2019      1    WAS   NL  ...  0.0  0.0  0.0  2.0   4.0
107427  zobribe01    2019      1    CHN   NL  ...  0.0  1.0  0.0  2.0   6.0
107428  zuninmi01    2019      1    TBA   AL  ...  0.0  3.0  0.0  0.0   4.0

[107429 rows x 22 columns]

In [11]:
df.yearID.unique()

array([1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881,
       1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892,
       1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903,
       1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914,
       1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925,
       1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936,
       1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947,
       1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958,
       1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
       1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019])

In [12]:
df.count()

playerID    107429
yearID      107429
stint       107429
teamID      107429
lgID        106691
G           107429
AB          107429
R           107429
H           107429
2B          107429
3B          107429
HR          107429
RBI         106673
SB          105061
CS           83888
BB          107429
SO          105329
IBB          70778
HBP         104612
SH          101360
SF           71325
GIDP         81988
dtype: int64

In [16]:
test = df.groupby('yearID').H.mean()
test

yearID
1871    26.965217
1872    28.452229
1873    39.408000
1874    42.471545
1875    31.247706
          ...
2015    28.335128
2016    28.507080
2017    28.256359
2018    26.721824
2019    26.810587
Name: H, Length: 149, dtype: float64

In [40]:
def Summarize_data_gby(g):
  return(
    pd.Series({
      "Hits_mean": g.H.mean(),
      "Doubles_mean": g['2B'].mean(),
      "Triples_mean": g['3B'].mean(),
      'HomeRun_mean': g.HR.mean(),
      'HomeRun_std' : g.HR.std(),
      'HomeRun_max' : g.HR.max(),
      'sample_count': len(g),
    })
  )

Batting_Info = df.groupby("yearID").apply(Summarize_data_gby)
Batting_Info.head(25)

        Hits_mean  Doubles_mean  ...  HomeRun_max  sample_count
yearID                           ...
1871    26.965217      3.773913  ...          4.0         115.0
1872    28.452229      3.700637  ...          7.0         157.0
1873    39.408000      4.560000  ...          4.0         125.0
1874    42.471545      5.154472  ...          5.0         123.0
1875    31.247706      3.848624  ...          6.0         218.0
1876    43.048387      5.104839  ...          5.0         124.0
1877    37.806122      4.397959  ...          4.0          98.0
1878    44.237500      6.012500  ...          4.0          80.0
1879    48.590551      7.543307  ...          9.0         127.0
1880    44.044444      7.259259  ...          6.0         135.0
1881    48.022727      8.090909  ...          8.0         132.0
1882    41.003968      6.412698  ...          7.0         252.0
1883    52.395760      8.787986  ...         14.0         283.0
1884    33.919643      5.127551  ...         27.0         784.0
1885    43.356941      6.212465  ...         13.0         353.0
1886    51.207977      7.632479  ...         11.0         351.0
1887    60.762763      9.273273  ...         19.0         333.0
1888    51.136364      6.963068  ...         16.0         352.0
1889    58.976608      8.815789  ...         20.0         342.0
1890    51.077990      7.296360  ...         16.0         577.0
1891    48.070732      6.417073  ...         16.0         410.0
1892    50.137821      6.432692  ...         13.0         312.0
1893    55.639860      7.681818  ...         19.0         286.0
1894    60.369492      9.332203  ...         18.0         295.0
1895    55.170492      7.914754  ...         18.0         305.0

[25 rows x 7 columns]

In [41]:
Batting_Info.tail(25)

        Hits_mean  Doubles_mean  ...  HomeRun_max  sample_count
yearID                           ...
1995    29.509178      5.553073  ...         50.0        1253.0
1996    33.774940      6.374302  ...         52.0        1253.0
1997    33.552589      6.475728  ...         56.0        1236.0
1998    33.652799      6.611952  ...         70.0        1322.0
1999    34.893764      6.728253  ...         65.0        1299.0
2000    32.692197      6.431358  ...         50.0        1384.0
2001    32.769978      6.581777  ...         73.0        1339.0
2002    32.806672      6.595906  ...         57.0        1319.0
2003    32.707498      6.553081  ...         47.0        1347.0
2004    33.077266      6.626300  ...         48.0        1346.0
2005    33.075940      6.663910  ...         51.0        1330.0
2006    32.732752      6.633987  ...         58.0        1377.0
2007    32.474368      6.640433  ...         54.0        1385.0
2008    31.748736      6.508303  ...         48.0        1385.0
2009    31.357349      6.294669  ...         47.0        1388.0
2010    31.382006      6.258112  ...         54.0        1356.0
2011    30.429806      6.046796  ...         43.0        1389.0
2012    29.874290      5.867188  ...         44.0        1408.0
2013    29.874379      5.835344  ...         53.0        1409.0
2014    28.986063      5.670383  ...         40.0        1435.0
2015    28.335128      5.546433  ...         47.0        1486.0
2016    28.507080      5.565745  ...         47.0        1483.0
2017    28.256359      5.620482  ...         59.0        1494.0
2018    26.721824      5.383713  ...         48.0        1535.0
2019    26.810587      5.440689  ...         53.0        1568.0

[25 rows x 7 columns]

3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

There were various differences when trying to apply a function similar to the function in the example to the baseball batting dataset. The most significant difference was the size of the data. Due to the enormous size of the baseball dataset, some fields could not be used due to missing values. The size also contributed to the yearID being picked as the column to base the grouby function around since the yearID field had the least amount of unique variables.

Another difference was the column names. Seeing as I am not a baseball fan, I needed to research what the abbreviations meant. After finding that out, I needed to use the bracket notation on the fields that started with a number like the 2B and 3B fields since dot notation would not work correctly. The final difference was in displaying the data and the difference that time played in the value figures. I choose to show this function form the top and bottom essentially by giving the top and bottom 25 values of the function.